import { useState } from "react";
import "./{{pascalCase name}}.css";

function {{pascalCase name}}() {
  // const [count, setCount] = useState(0)

  return (
    <>
      <div>Hello World</div>
    </>
  );
}

export default {{pascalCase name}};